body {
background-color:lightgray;
border-radius:5px;
}
h1 {
text-align:center;
}
img {
width:300px;
height:300px;
border-radius:50px;
float:right;

}
.nav {
text-align:center;
color:white;
margin-bottom:2px;
background:red;
height:50px;
text-align:auto;
}
#article{
background-color:white;
height:70px;
text-align:center;
border-style:outset;
border-radius:20px;
}
#section {
padding-right:;:30px;
margin:40px;
background-color:white;
border:2px solid red;
border-radius:13px;
}
.main{
border:2px solid brown;
margin: auto;
width: 90%;
padding: 10px;
border-radius:6px;
background-color:white;
}
.summary{
text-align:center;
}
.mhead{
color:red;
text-align:center;
}
.hello{
color:red;}
#main1{
border:3px solid brown;
border-radius:5px;
background-color:black;
}
.aside {
text-align:center;

}
.anchor {
background-color: red;
color: white;
padding: 1px 2px;
  text-decoration: none;
  font-size:12px;
}
.nav1 {
background-color: lightgray;
color: white;
padding: 1px 2px;
  text-decoration: none;
margin-top:30px;
  padding-bottom:5px;
}
.love {
font-style:brushScript;
color: red;
}
.table{
color: white;
}
.welcome {
text-align:center;
color:blue;
}
.cc {
	text-align:center;

}
.cmb{
font-size:20px;
}
.signin{
font-size:18px;
}